[submodule "server"]
	path = server
	url = git@github.com:e-mo/wisdom_server.git
[submodule "drivers/pico-ssd1306"]
	path = drivers/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306.git
[submodule "libs/rp2x_serial"]
	path = libs/rp2x_serial
	url = https://github.com/e-mo/rp2x_serial.git
[submodule "libs/circle_buffer"]
	path = libs/circle_buffer
	url = https://github.com/e-mo/no_alloc_circle_buffer.git
[submodule "whale"]
	path = whale
	url = https://github.com/e-mo/wisdom_hal.git
